/*my css will be in here*/
* {
  background-color:rgb(1,25,1);
  color:rgb(55,32,2)

  /*dark green rgb(15,37,3);*/
}
header {
  background-color:rgb(29,8,37);
}
.name {
  background-color:rgb(29,8,37);
}
.firelogo {
  background-color:rgb(29,8,37);
}

li, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family:serif;
}
ul {
  display: inline;
}
.address {
  display: inline-block;
  padding: 1%;
  margin: 1%;
  border: 5px
  border-style:solid;
  border-color: brown;

}
li.storeheader {
  font-family: fantasy;
}

.storeloca {
  color: green;
  margin-left: auto;
  margin-right: auto;
  width:6 em;
  background-color:1DO825;
}

.purchasing {
  display: inline-block;
}
article {
  width: 90%;
  margin:1%;
  padding: 1%;
  height:50%;
  color: white;
  background-color:rgb(55,32,2);
}
section.column1, section.column2 {
  width: 40%;
  margin:1%;
  padding: 1%;
  display: inline-table;
  height: 40%
  background-color:1F3B0F;
}
