/*my css will be in here*/
* {
  background-color:rgb(1,25,1);
  color:rgb(55,32,2)
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content:center;
  background-color:rgb(29,8,37);
  color:rgb(55,32,2)
}
.name {
  display: flex;
  flex-direction: column;

  background-color:rgb(29,8,37);
  color:rgb(55,32,2);
}
.name > h1 {
  font-size: 48px;
}
blockquote > h4 {
  font-size: 16px;
  font-style: fantasy;
}
.firelogo {
  text-align: right;
  background-color:rgb(29,8,37);
  margin-right: 5%;
  margin-bottom: 3%;
}

li, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: cursive;
}
ul {
  display: inline;
}
.address {
  display: inline-block;
  padding: 1%;
  margin: 1%;
  border: 5px
  border-style:solid;
  border-color: brown;

}
li.storeheader {
  color:rgb(55,32,2)
  font-family: fantasy;
}

.storeloca {
  text-align: center;
  color: brown;
  margin-left: auto;
  margin-right: auto;
  width:6 em;
  background-color:1DO825;
}

.purchasing {
  display: inline-block;
}

/*Sections*/
/*images centered*/
img {
  margin-left: 10%;
  margin-right: 30%;
  text-align: center;
}

article {
  width: 90%;
  margin:1%;
  padding: 1%;
  height:50%;
  color: white;
  background-color:rgb(55,32,2);
}
h1 {
  text-align: left;
  font-family: fantasy;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  font-family: cursive;
}
section.column1, section.column2 {
  width: 40%;
  margin:1%;
  padding: 1%;
  border-style: double;
  border-color: purple;
  display: inline-table;
  height: 50%
  background-color:1F3B0F;
}
